net "a[0]" loc = "R17";  
net "a[1]" loc = "N17";  
net "a[2]" loc = "L13";  
net "a[3]" loc = "L14";  
net "b[0]" loc = "K17";  
net "b[1]" loc = "K18";  
net "b[2]" loc = "H18";  
net "b[3]" loc = "G18";
net "c_in" loc=  "B18";
net "clk" loc= "D18";
net "rst" loc="E18";  
#for 500 
#net "S[0]" loc  = "R4" ; 
#net "S[1]" loc  = "F4" ; 
#net "S[2]" loc  = "P15" ; 
#net "S[3]" loc  = "E17" ; 
# for 1200 
net "S[0]" loc  = "P4" ; 
net "S[1]" loc  = "E4" ; 
net "S[2]" loc  = "P16" ; 
net "S[3]" loc  = "E16" ;
net "c_out" loc  = "K14" ;